body {
    background-color: rgb(236, 236, 236);
    text-decoration: none;
    font-family: sans-serif;
}

.options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: darkcyan;
    padding: 1.5%;
}

.options input {
    width: 70%;
    padding: 0.5%;
    border: none;
    border-radius: 20px;
    outline: none;
}

.options img {
    width: 40px;
    height: 40px;
    filter: invert(100);
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}

.words h4 {
    font-weight: bolder;
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: white;
    padding: 15px;
    margin: 0.5%;
    border-radius: 20px;

}

.notItem {
    display: none;
}

.img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 10vh;
}

.left {

    left: 0;
}

.left input {
    background-color: transparent;
    border: none;
}

.right {
    right: 0;
    align-items: end;
}

.left p {
    margin-bottom: 0rem;
}

.price {
    text-align: right;
    font-weight: bolder;
}

.delete {
    width: 15%;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.288);
    color: red;

}

.payment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    width: 90%;
    padding: 10px;
    margin: 0.5%;
    border-radius: 20px;

}

.payment h4 {
    padding: 20px;
    text-align: justify;
}

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.select img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.pay {
    right: 0;
    padding: 4%;
    width: 250px;
    background-color: rgb(140, 201, 140);
    color: green;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    outline: none;
}

.price {
    border: none;
    outline: none;
    background-color: transparent;
}

.real {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: none;
}

.clean {
    padding: 10px;
    border: none;
    font-weight: bolder;
    border-radius: 20px;
    width: 250px;
    margin: 10px;
}

.select p input {
    border: none;
    margin-left: 10px;
}

.logActive{
    display: block;
    background-color: transparent;
    border: none;
    outline: none;

}

.logDesactive{
    display: none;
}
